.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  font-size: 10px;
  width: 100%;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.spinner-border {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.category-items {
  background-color: none;
  border: 0;
  font-size: 15px;
  min-width: 150px;
  text-align: center;
  font-weight: 600;
}
.active-category-item {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(208, 10, 40);
  color: rgb(208, 10, 40);
}
@media screen and (min-width: 768px) {
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0px 10px 10px -15px #111;
  }
  .category-items {
    font-size: 22px;
  }
}

/* @media screen and (max-width: 786px) {
  .categories {
     width: 100vw; 
    overflow-x: auto;
     overflow-y: hidden; 
    white-space: nowrap;
     -webkit-overflow-scrolling: touch; 
  }
  .category-items {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 15px;
  }
}  */
